@import "../common/index.module.less";
.van_button {
  position: relative;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  /* prettier-ignore */
  line-height: 20PX;
  text-align: center;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  /* prettier-ignore */
  height: 44PX;
  /* prettier-ignore */
  height: var(--button-default-height, 44PX);
  /* prettier-ignore */
  font-size: 16PX;
  /* prettier-ignore */
  font-size: var(--button-default-font-size, 16PX);
  transition: opacity 0.2s;
  transition: opacity var(--animation-duration-fast, 0.2s);
  /* prettier-ignore */
  border-radius: 2PX;
  /* prettier-ignore */
  border-radius: var(--button-border-radius, 2PX);
}

.van_button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: inherit;
  border-radius: inherit;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  content: " ";
  background-color: #000;
  background-color: var(--black, #000);
  border-color: #000;
  border-color: var(--black, #000);
}
.van_button:after {
  border-width: 0;
}
.van_button__active:before {
  opacity: 0.15;
}
.van_button__unclickable:after {
  display: none;
}
.van_button__default {
  color: #323233;
  color: var(--button-default-color, #323233);
  background-color: #fff;
  background-color: var(--button-default-background-color, #fff);
  /* prettier-ignore */
  border: 1PX solid #ebedf0;
  /* prettier-ignore */
  border: 1PX solid var(--button-default-border-color, #ebedf0);
}
.van_button__primary {
  color: #fff;
  color: var(--button-primary-color, #fff);
  background-color: #07c160;
  background-color: var(--button-primary-background-color, #07c160);
  /* prettier-ignore */
  border: 1PX solid #07c160;
  /* prettier-ignore */
  border: 1PX solid var(--button-primary-border-color, #07c160);
}
.van_button__info {
  color: #fff;
  color: var(--button-info-color, #fff);
  background-color: #1989fa;
  background-color: var(--button-info-background-color, #1989fa);
  /* prettier-ignore */
  border: 1PX solid #1989fa;
  /* prettier-ignore */
  border: 1PX solid var(--button-info-border-color, #1989fa);
}
.van_button__danger {
  color: #fff;
  color: var(--button-danger-color, #fff);
  background-color: #ee0a24;
  background-color: var(--button-danger-background-color, #ee0a24);
  /* prettier-ignore */
  border: 1PX solid #ee0a24;
  /* prettier-ignore */
  border: 1PX solid var(--button-danger-border-color, #ee0a24);
}
.van_button__warning {
  color: #fff;
  color: var(--button-warning-color, #fff);
  background-color: #ff976a;
  background-color: var(--button-warning-background-color, #ff976a);
  /* prettier-ignore */
  border: 1PX solid #ff976a;
  /* prettier-ignore */
  border: 1PX solid var(--button-warning-border-color, #ff976a);
}
.van_button__plain {
  background-color: #fff;
  background-color: var(--button-plain-background-color, #fff);
}
.van_button__plain.van_button__primary {
  color: #07c160;
  color: var(--button-primary-background-color, #07c160);
}
.van_button__plain.van_button__info {
  color: #1989fa;
  color: var(--button-info-background-color, #1989fa);
}
.van_button__plain.van_button__danger {
  color: #ee0a24;
  color: var(--button-danger-background-color, #ee0a24);
}
.van_button__plain.van_button__warning {
  color: #ff976a;
  color: var(--button-warning-background-color, #ff976a);
}
.van_button__large {
  width: 100%;
  /* prettier-ignore */
  height: 50PX;
  /* prettier-ignore */
  height: var(--button-large-height, 50PX);
}
.van_button__normal {
  /* prettier-ignore */
  padding: 0 15PX;
  /* prettier-ignore */
  font-size: 14PX;
  /* prettier-ignore */
  font-size: var(--button-normal-font-size, 14PX);
}
.van_button__small {
  /* prettier-ignore */
  min-width: 60PX;
  /* prettier-ignore */
  min-width: var(--button-small-min-width, 60PX);
  /* prettier-ignore */
  height: 30PX;
  /* prettier-ignore */
  height: var(--button-small-height, 30PX);
  /* prettier-ignore */
  padding: 0 8PX;
  /* prettier-ignore */
  padding: 0 var(--padding-xs, 8PX);
  /* prettier-ignore */
  font-size: 12PX;
  /* prettier-ignore */
  font-size: var(--button-small-font-size, 12PX);
}
.van_button__mini {
  display: inline-block;
  /* prettier-ignore */
  min-width: 50PX;
  /* prettier-ignore */
  min-width: var(--button-mini-min-width, 50PX);
  /* prettier-ignore */
  height: 22PX;
  /* prettier-ignore */
  height: var(--button-mini-height, 22PX);
  /* prettier-ignore */
  font-size: 10PX;
  /* prettier-ignore */
  font-size: var(--button-mini-font-size, 10PX);
}
.van_button__mini + .van_button__mini {
  /* prettier-ignore */
  margin-left: 5PX;
}
.van_button__block {
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
.van_button__round {
  /* prettier-ignore */
  border-radius: 999PX;
  /* prettier-ignore */
  border-radius: var(--button-round-border-radius, 999PX);
}
.van_button__square {
  border-radius: 0;
}
.van_button__disabled {
  opacity: 0.5;
  opacity: var(--button-disabled-opacity, 0.5);
}
.van_button__text {
  display: inline;
}
.van_button__icon + .van_button__text:not(:empty),
.van_button__loading_text {
  /* prettier-ignore */
  margin-left: 4PX;
}
.van_button__icon {
  min-width: 1em;
  line-height: inherit !important;
  vertical-align: top;
}
.van_button__hairline {
  /* prettier-ignore */
  padding-top: 1PX;
  border-width: 0;
}
.van_button__hairline:after {
  border-color: inherit;
  /* prettier-ignore */
  border-width: 1PX;
  /* prettier-ignore */
  border-radius: 4PX;
  /* prettier-ignore */
  border-radius: calc(var(--button-border-radius, 2PX) * 2);
}
.van_button__hairline.van_button__round:after {
  /* prettier-ignore */
  border-radius: 999PX;
  /* prettier-ignore */
  border-radius: var(--button-round-border-radius, 999PX);
}
.van_button__hairline.van_button__square:after {
  border-radius: 0;
}
